/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0 !important;
  font-family: "Microsoft YaHei","SimHei";
}

.form-title {
  margin-top: 20px;
  padding: 0 30px;
  color: #b0afaf;
  font-size: 30px;
}

.title-wrapper {
  margin: 20px 0;
  color: #b0afaf;
  font-size: 30px;
}

.mat-drawer-container {
  height: 984px;
}

.content-wrapper {
  background: #363535;
  height: 100%;
  width: 100%;
}

.content {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #b0afaf;
  height: 100%;
}

.left-wrapper {
  width: 750px;
  height: 60%;
  padding: 42px 100px;
  display: inline-block;
}

.right-wrapper {
  width: 500px;
  float: right;
  padding-top: 42px;
}

.right-sidebar-button {
  line-height: 65px;
  display: block;
  border: none;
  background: none;
  color: #b0afaf;
  font-size: 25px;
}

.right-title{
  margin-top: 20px;
  color: #b0afaf;
  font-size: 30px;
}
.mat-primary {
  color: #ffffff;
}

button {
  cursor: pointer;
}

.mat-form-field-placeholder {
  color: #b0afaf !important;
}

.mat-focused {
  color: #b0afaf;
}

.mat-form-field-underline {
  background-color: #b0afaf;
}

.mat-form-field-ripple {
  background-color: #b0afaf;
}

.mat-radio-label {
  color: #b0afaf;
}

.mat-radio-outer-circle {
  border-color: #b0afaf;
}

.mat-primary {
  color: #b0afaf;
}

.mat-select-value {
  color: #b0afaf;
}

.mat-select-arrow {
  color: #b0afaf !important;
}

.mat-checkbox-frame{
  border-color: #b0afaf;
}
