<app-header></app-header>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" class="example-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="content-wrapper">
    <div class="left-wrapper">
      <div class="title-wrapper">
        Weather
      </div>
      <div class="content">
        <div style="width: 720px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=76739" width="720" height="92" frameborder="0" scrolling="no"></iframe><a style="z-index: 1;text-indent: -9999em;margin: -92px 0 0 0;height: 92px;width: 20px;float: right;position: relative"
            href="https://www.willyweather.com/pa/allegheny-county/pittsburgh.html" rel="nofollow">willyweather</a></div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
