<div class="sidebar-wrapper">
<button mat-menu-item class="not-chosen" (click)="router.navigate(['home']);">
  <span>Home</span>
</button>
<button mat-menu-item [ngClass]="(url=='/family')?'chosen':'not-chosen'" (click)="router.navigate(['family']);">
  <span>Family Members</span>
</button>
<button mat-menu-item [ngClass]="(url=='/water')?'chosen':'not-chosen'" (click)="router.navigate(['water']);">
  <span>Water</span>
</button>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>Flood Management</span>
</button>
<button mat-menu-item [ngClass]="(url=='/clothing')?'chosen':'not-chosen'" (click)="router.navigate(['clothing']);">
  <span>Clothing & Bedding</span>
</button>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>First Aid & Medications</span>
</button>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>Storage</span>
</button>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>Travel & Office</span>
</button>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>Communication</span>
</button>
<br>
<br>
<br>
<br>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>Tips</span>
</button>
<button mat-menu-item class="not-chosen" (click)="Logout()">
  <span>Shopping List</span>
</button>
</div>
