.header-wrapper {
  background: #000000;
  height: 180px;
  width: 100%;
  display: inline-block;
}

.left-header {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
}

.header-icon {
  height: 72px;
  width: 50px;
  margin: 35px;
}

.header-title {
  color: #ffffff;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.header-operations {
  position: absolute;
  right: 50px;
  display: flex;
}

.header-title-text {
  font-size: 35px;
}

.header-single-operation {
  cursor: pointer;
}

.username-text {
  color: #ffffff;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 30px;
  display: inline-block;
  margin-right: 20px;
}
