<div class="header-wrapper">
  <div class="left-header">
    <div class="header-icon">
      <img src="/assets/images/LogoDemo.png" />
    </div>
    <div class="header-title">
      <div class="header-title-text">Personal</div>
      <div class="header-title-text">Preparedness</div>
      <div class="header-title-text">Plan</div>
    </div>
    <div class="header-operations">
      <img *ngIf="!global.login" class="header-single-operation" (click)='openLoginDialog()' src="/assets/images/Account.png" />
      <div *ngIf="global.login" class="username-text">{{global.username}}</div>
      <img class="header-single-operation" href="www.google.com" src="/assets/images/Search.png" />
    </div>
  </div>
</div>
