.header-wrapper {
  background: #000000;
  height: 180px;
  width: 100%;
  display: inline-block;
}

.left-header {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
}

.header-icon {
  height: 72px;
  width: 50px;
  margin: auto;
}

.header-title {
  color: #ffffff;
}

.header-operations {
  position: absolute;
  right: 50px;
}

.header-title-text {
  font-size: 35px;
}
