<div class="header-wrapper">
  <div class="left-header">
    <div class="header-icon">
      <img src="/assets/images/LogoDemo.png" />
    </div>
    <div class="header-title">
      <div class="header-title-text">Personal</div>
      <div class="header-title-text">Preparedness</div>
      <div class="header-title-text">Plan</div>
    </div>
    <div class="header-operations">
      <img src="/assets/images/Account.png" />
      <img src="/assets/images/Search.png" />
    </div>
  </div>
</div>
