.half {
  width: 35%;
  padding: 0 30px;
}

.whole {
  width: 35%;
  display: block;
  padding: 0 30px;
}

.form-wrapper {
  width: 750px;
  float: left;
  padding: 42px 0 42px 100px;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #b0afaf;
}

.mat-form-field {
  margin: 30px 0;
}

.ok-button {
  background: url("/assets/images/Submit.png");
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  border: none;
}

.cancel-button {
  background: url("/assets/images/Cancel.png");
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  border: none;
}
