.right-wrapper-chart {
  float: right;
}

.input-qty {
  background: transparent;
  border: none;
  color: #b0afaf;
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
